<div id="<%= dom_id category_invoice %>">
  <p>
    <strong>Category:</strong>
    <%= category_invoice.category_id %>
  </p>

  <p>
    <strong>Invoice:</strong>
    <%= category_invoice.invoice_id %>
  </p>

</div>
