<p style="color: green"><%= notice %></p>

<h1>Category invoices</h1>

<div id="category_invoices">
  <% @category_invoices.each do |category_invoice| %>
    <%= render category_invoice %>
    <p>
      <%= link_to "Show this category invoice", category_invoice %>
    </p>
  <% end %>
</div>

<%= link_to "New category invoice", new_category_invoice_path %>
