<div id="<%= dom_id invoice %>" class="border border-2 p-3 rounded rounded-3">
  <p>
    <strong>Category name:</strong>
    <%= @category.name %>
  </p>

  <p>
    <strong>Invoice Name:</strong>
    <%= invoice.name %>
  </p>

  <p>
    <strong>Invoice Amount:</strong>
    <%= invoice.amount %>
  </p>
</div>
