<div class="container d-flex flex-column align-items-center" style="height: 80vh">
  <h1 class="my-auto"><%= brand_name %></h1>
  <div class="col-12 col-md-6 row gap-2">
    <%= link_to 'LOG IN', user_session_path, class: 'btn btn-primary col-12 col-md-4' %>
    <%= link_to 'SIGN UP', user_session_path, class: 'btn btn-outline-secondary col-12 col-md-4 ms-md-auto border-0' %>
  </div>
</div>
